<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bid Data</title>
</head>

<body>
  <h1>Bid Public Information</h1>
  <% data.forEach(item=> { %>
    <div>
      <p>
        <%= item.tmpNm %>
      </p> <!-- 예시 필드명, 실제 필드명으로 변경 필요 -->
      <p>
        <%= item.presmptPrce %>
      </p> <!-- 예시 필드명, 실제 필드명으로 변경 필요 -->
    </div>
    <% }); %>
</body>

</html>
